form {
    width: 80%;
    margin: 30px auto;
}

.form-group {
    padding: 8px 0 0 5px;
    margin-bottom: 5px;
    color: #333;
}

.control-label {
    font-size: 120%;
    width: 90px;
    display: inline-block;
    padding: 5px 0;
}

.control-info {
    display: block;
    font-size: 80%;
    font-style: italic;
    padding: 5px 0;
}

input, select, button {
    padding: 2px 5px;
    line-height: 25px;
}

input[type="submit"] {
    border: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
}