body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 12px;
}

.dark-line {
    background-color: #122b40;
    height: 4px;
}

.span_fl_right {
    padding-top: 20px;
}
.span_fl_left {
    background-color: #266396;
    color: #fff;
    padding: 5px 10px 5px 5px;
}

/** Navigation **/
.panel a {
    text-decoration: none;
}
.panel ul.navigation,
.panel ul.navigation li {
    margin: 0px;
    padding: 0px;
}
.panel ul.child.navigation li {
    padding-left: 5px;
}

.panel ul.main.navigation li {
    list-style: none;
}

.panel ul.navigation li a {
    color: #fff;
    text-transform: capitalize;
}